
.carouselrestaurant h3{
    text-align: center;
    font-family: 'Style Script', cursive;  
    padding: 10px;
    color: #d0c07a;
}
.decouvrir{
    padding: 10px;
}
#descriptif{
    padding: 10px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    border-top:thick double rgb(66, 64, 64);
    border-bottom:thick double rgb(66, 64, 64);
}
.information h4{
    text-align: center;
    font-family: style Script, cursive;
}

.textinfo{
    border-top: 2px solid black;
}
.menu_tarif{
    border-top: 2px solid black;
}
.titlereserver h3{
    color: black;
}
.condition{
    text-align: justify;
}
.titlereserver{
    border-bottom: 2px solid black;
}

/************Modifier restaurant*******************/
.modifierrestaurant .container h3{
    text-align: center;
    font-family: 'Style Script', cursive;  
}
.buttonsave{
    display: flex;
    justify-content: center;
    padding: 18px;
}
.selection h5{
    text-align: center;
    margin-bottom: 2vw;
    font-family: 'Times New Roman', Times, serif;
 
}
.options{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  
    color: gray;
    font-size: medium;
}
#apropodenous{
    text-align: center;
}
#imagemodal img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    background-color: rgb(189, 189, 189);
}
.modalname{
    text-align: center;
    padding-top: 5px;
    color: #d0c07a;
    font-weight: bold;
    font-family: 'Style Script', cursive;
    font-size: medium;
}
.commodal{
    text-align: left;
    color: gray;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}
#rowmodal{
    border-bottom: solid 1px #47584e;
    padding: 10px;
    display: flex;
    align-items: center;
}
#ilstemoigne{
    text-align: center;
    border-top: 2px solid black;
}
.apropotitle{
    font-family: 'Style Script', cursive;
}
#btnmodal{
    background-color: #232323!important;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1vw;
}
.avisclients a{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #D0C086;
    font-weight: 900;
}