
/*****NAVBAR*****/
#logo{
    font-family: 'Style Script', cursive;
}
nav{
  font-family: 'Times New Roman', Times, serif;
}
.sidenav{
font-family: 'Times New Roman', Times, serif;
}
#nameside{
  font-size: xx-large;
}
#picturesidenav{
  display: flex;
  justify-content: center;
}
/****FINNAVBAR*****/
/*******CAROUSELHOME********/
.carouselhome{
    height: 50%;
}
.clip{
    background-position: center;
    background-size: 50%;
}
 
 /********INTRO***********/
 .intro{
     text-align: center;
     font-family: 'Style Script', cursive;  
 }
 .intro p{
     font-size: 27px
 }
 #buttonhover{
     color: black;
     font-family:'Times New Roman', Times, serif
 }
#buttonhover:hover{
    font-family:'Times New Roman', Times, serif;
    color: rgb(102, 95, 95);
}

.triangle1{
    display: flex;
    justify-content: center;
   
}   

  /*****MEDIA INTRO*********/
  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }
  /*****FIN MEDIA INTRO*********/

/********FIN INTRO***********/
/********Paralax***********/

.homepageparalax {
  max-height: 100vh;
  overflow: hidden;
  overflow-y: auto; 
  perspective: 3px;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}
section {
  background-size: cover;
  /* color: white; */
  background-color: var(--bg, --color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.image {
  background-position: center center;
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: cover;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
  max-height: 100vh;
}
#househome{
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    color: white;
}
section.image2 {
    background-position: center;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
    height: 100vh;
    filter: grayscale(100%); 
} 
#cuisinegastroimg{
    display: flex;
    justify-content: right;
}
#cuisinegastroimg img{
  height: 700px;
 
  
}
.borderstyle{
    border-right: thick double #283d3b;
}
#rowgastro{
    display: flex;
   align-items: center;
}
.quisommenous{
    font-family: style Script, cursive;
    font-size: xx-large;
    
}
.btnpuls{
    display: flex;
    justify-content: center;
}
.btnpuls a{
    font-family: 'Times New Roman', Times, serif;
}
#animationgastro{
   background-color: black;
   color: white;
   border-radius: 5px;
}
#carouselresponsive{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
/*********************MEDIA*************/
@media (max-width:500px){
    #cuisinegastroimg img{
        height: 524px;
      }
      #cuisinegastroimg{
        display: flex;
        justify-content: center;
        margin: 2vw;
    }
    #rowgastro{
        display: flow-root;
    }
    #imagescarouselrestaurants{
      padding: 10px;
    }
    .clip{
      margin-top: -21vw;
    }
}
.introductiongastro{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    font-weight: 500;
    margin-left: 3%;
}
section.image3 {
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color:rgba(255, 255, 255, 0.568);
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
    height: 100vh;
    display: flex;
}
section.image2{
  display: flex;
}
.anotation{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: white;
  text-align: center;
}
.nosrestaurantheading{
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.heading{
    background-color: rgba(0, 0, 0, 0.363);
    width: 100%;
}
@media (max-width:800px){
  #rowgastro{
    display: flow-root;
}
#cuisinegastroimg{
  display: flex;
  justify-content: center;
  margin: 2vw;
}
}
/********fin Paralax***********/

/********Restaurant***********/
  .Categorie{
    font-family: 'Style Script', cursive;  
    text-align: center;
  }
  .type{
    background-color: rgba(0, 0, 0, 0.877);
    height: 230px;
    
  }
  .type h3{
    padding: 10px;
    color: white;
 
  }
  .type p{
    font-size: 17px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 3vw;
  }
  .gold{
    background-image: url('/assets/images/pngwing.com\ \(15\).png');
    background-position: center;

  }
  #buttondecouvrire{
    color: white;
  }
 #decohome{
   background-color:white;
  border: thick double #D0C07A;
  max-height: 392px;
  padding: 20px;
 }
 #decohome p{
  font-family: 'Times New Roman', Times, serif;

 }
.nomrestaurants{
  font-family: style Script, cursive;
}
.troistemoignages{
  text-align: center;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}
 /***********Media troisgros / Animation*****************/
 /***********fin restaurant****************/
 @media (max-width: 595px) {
  .type h3 {
    font-size: large;
  }
  .typeimgs img{
    width: 130px;
  }
  .type p{
    font-size: small;
    text-align: center;
  }
  .btn.waves-effect{
    font-size: x-small;
  }
  .anotation{
    font-size: x-large;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  section.image2{
    padding: 10px;
  }
}
@media (max-width: 598px){
  #picturetroisgros img{
    height: 267px;
  }
}
@media (max-width: 601px) {
  .type{
    height:142px ;
  }
  .pubdiner{
    display: block;
  }

}
.reverse {
  display: flex;
  flex-direction: row-reverse;
}
 /***********FIN Media troisgros*****************/
 
/***************TEMOIGNAGE************************/
.texttemoignages{
  text-align: center;
  font-family: 'Style Script', cursive;  
}
.card-image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  background-color: rgb(189, 189, 189);
}
.card-image{
  display: flex;
  justify-content: center;
}
.temoignagneronan{
  padding: 10px;
}
.name{
  text-align: center;
  padding-top: 5px;
  color: #d0c07a;
  font-weight: bold;
  font-family: 'Style Script', cursive;  
  font-size: x-large;
}
.card-content p {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}
.temoignagneuser{
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 30px;
  height: 439px;
}
.note{
  text-align: center;
}
.com p{
  color: #717171;
  font-size: small;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.comrestau{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.lienrestaucom{
  color: #21242c;
}
.lienrestaucom:hover{
  color: #a68a64;
}
/***************FIN TEMOIGNAGE************************/
/************Inscriptionpub********************/
.textpub{
  text-align: center;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  border-top:1px solid white;
  border-bottom: 1px solid white;
  padding: 10px;
}

/************Inscriptionpub********************/

 /***********FOOTER****************/
 .footer{
  background-color: black;
  padding: 15px;
  }
  .copyright{
    color: gray;
    text-align: center;
  }
  .pub{
    text-decoration: unset;
    color: white;
  }
  .contact{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  .logocontact{
    color: white;
    padding: 10px;
  }
  .footercontact{
    margin-bottom: 0%;
  }

 /***********FIN FOOTER****************/
