<form method="post" action="{{ path('restaurant_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer les données ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
    <div class="buttonsave">
     <button class="btn waves-effect btn-small center" style="background-color: #CD5555 ; width: 300px; " type="submit" name="action">
        <i class="material-icons right">delete_forever</i>{{ button_label|default('Supprimer mes données') }}
     </button>
    </div>
</form>
