{% extends 'base.html.twig' %}

{% block title %}Témoignages clients{% endblock %}

{% block body %}
<div class="formulairedecom">
<h5>Espace commentaires</h5>
    <div class="container"id="mobilform">
    <div class="row" id="centerform">

        <div class="col s12 m6">
        <video class="clip" autoplay loop width="100%">
                <source src="/assets/video/com.mp4" type="video/webm">
        </video>
        </div>
        <div class="col s12 m6">
        <h5>Partagez votre expérience</h5>
            {{ include('temoignage/_form.html.twig') }}
        </div> 
    </div>
    </div>
    <div class="png">
    <img src="/assets/images/temoignage/pngwing.com (47).png"/>
    </div>
</div>

  
  
  


   
{% endblock %}
