<form method="post" action="{{ path('menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le menu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
    <button class="btn waves-effect btn-small center" style="background-color: #CD5555 ; width: 300px; "">Supprimer le menu </button>
</form>
