{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
<div class="modifiermenu">
<p>Modifier mon menu</p>
</div>
    

    {{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}
  <div Class="backgroundmenuor">
        <img src="/assets/images/menu/pngwing.com (31).png"/>
    </div>
{% endblock %}
