<h1>HouseDîner</h1>
<h2>Prise de contact HouseDîner</h2>
<div class="">
    <table class="">
        <thead>
        <tr>
            <th></th>
            <th>Informations</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Nom</td>
            <td>{{nom}}</td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td>{{prenom}}</td>
        </tr>
        <tr>
            <td>Téléphone</td>
            <td>{{telephone}}</td>
        </tr>
        <tr>
            <td>Message</td>
            <td>{{message}}</td>
        </tr>

        <tbody>
    </table>
    <p>Répondre dans les plus brefs délais</p>
</div>